h4 {
    font-weight: bold;
    margin-left: 10px;
}

.response-header {
    margin-top: 20px;
    vertical-align: middle;
}

.clear-response-list{
    text-align: right;
}

.responses {
    border-radius: 5px;
    background-color:#DCDCDC;
    margin-top: 10px;
}

