label.engine {
    font-weight: bold;
}

.proposal {
    margin-top: 20px;
}

.text {
    height: 120px !important;
}

.engine-and-submit {
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    white-space: nowrap;
    vertical-align: middle;
}

